.time {
  padding-right: 30px;
  text-align: right;
  position: relative;
  top: -65px;
}

.forecast {
  text-align: right;
  position: relative;
  top: -160px;
}

.currently {
  text-align: left;
}

.temperature {
  position: relative;
  left: 55px;
  font-weight: 70px;
  font-size: 100;
}
.degree {
  position: relative;
  left: 100px;
  bottom: 45px;
  font-weight: 70px;
  font-size: 100;
}

.col-2 {
  font-size: 30px;
}
.type {
  text-decoration: underline;
}
.date {
  padding-right: 30px;
  text-align: right;
  position: relative;
  top: -120px;
  left: 40px;
}

.celcius {
  position: relative;
  bottom: 42px;
  left: 40px;
}

.conversion {
  position: relative;
  left: 100px;
  bottom: 42px;
  color: #4e8aae;
}
.currentLocation {
  padding: 20px;
  position: relative;
  left: 450px;
  top: 25px;
  bottom: 100px;
  background-color: #0378ad;
  font-size: 20px;
  font-family: "Noto Sans HK", sans-serif;
  border-radius: 5px;
}

body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

h1 {
  font-size: 60px;
  display: block;
  padding-top: 80px;
  padding-bottom: 10px;
  color: #0378ad;
  font-family: "Noto Sans HK", sans-serif;
}

h2 {
  color: #103460;
  font-size: 35px;
  display: block;
  padding-bottom: 15px;
  font-family: "Noto Sans HK", sans-serif;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
  color: #0378ad;
  padding-bottom: 100px;
  text-align: center;
}

input {
  background-color: #f1f6fa;
  border-color: gray;
  border-radius: 3px;
  padding: 13px;
  width: 30%;
  position: relative;
  left: 200px;
}
